
<img src='{{ album.album_logo }}'>
<br>
<h2>Album : {{ album }}</h2>
<h3>Artist : {{ album.artist }}</h3>

<i>Genre: {{ album.genre }}</i>
<br>
<h4><u>Songs</u></h4>


<ul>
	{% for song in album.song_set.all %}
		<li>{{ song.song_title }}</li>
	{% endfor %}
</ul>
