{% if albums%}
	<h3>All Albums</h3>
	<ul>
		{% for album in albums%}
			<li><a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</li></a>
		{% endfor %}	
	</ul>
{% else %}
	<h3>No Albums Found!</h3>

{% endif %}